<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.th.mallchat.common.user.mapper.ItemConfigMapper">

    <resultMap id="BaseResultMap" type="com.th.mallchat.common.user.domain.entity.ItemConfig">
            <id property="id" column="id" />
            <result property="type" column="type" />
            <result property="img" column="img" />
            <result property="describe" column="describe" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,type,img,describe,create_time,update_time
    </sql>
</mapper>
